

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #d9d9d9;
    color: rgb(52, 52, 52);
    
}

.hero{
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 40px; 
    background-color: transparent;
    box-sizing: border-box;
    
    
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space:nowrap;


}

.nom {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #222;
}

section{
    height: 100vh;
    padding: 80px 20px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

html{
    scroll-behavior: smooth;
    
}

body{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}


.image-container{
    text-align: center;
}

.image-container img {
    width: 40px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.caption {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.projects-grid {
    display: flex;
    justify-content: center;
    gap: 500px; 
    margin-top: 0px;
  }

  .column-left {
    display: flex;
    flex-direction: column;
    gap: 0px; 
  }
  
  .column-right {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    margin-top: 50px; 
  }

  .image-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .column-left .image-container {
    flex-direction: row; 
  }
  

  .column-right .image-container {
    flex-direction: row-reverse; 
  }
  
  .image-container {
    position: relative;
    width: 400px;
  }
  
  .image-container img {
    width: 100%; 
    max-width: none;
    height: auto;
    border-radius: 10px;
    display: block;
  }
  
  .caption {
    
    left: 10px; 
    bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .image-container:hover .caption {
    opacity: 1;
  }

.image-link {
  display: flex;        
  align-items: center;  
  text-decoration: none; 
  color: inherit;       
}

.image-link img {
    margin-right: 10px;   
    display: block;
  }
  
.image-link.left { 
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.small-header {
  text-align: center;
  padding: 20px;
}

.small-header a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}


.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


